@media screen and (min-width: 320px) and (max-width: 768px){
.header{
	width: 100%;
}
.container-menu {
    width: 100%;
}
.logo{
	display:block;
	margin: 0 auto 40px;
	font-size: 35px;
}
.menu{
	width: 100px;
	height: 130px;
	display:block;
	margin: 0 auto;
}
.menu__items{
	display:block;
	margin-right:0;
	margin-bottom: 10px;
	text-align: center;
}
.menu__items a{
	font-size: 16px;
}
.container-title{
	height: 275px;
	width: 100%;
}
.header__h2{
	font-family: "Droid Serif";
	font-size: 28px;
	font-style: italic;
	letter-spacing: -2px;
}
.header_h1{
	height: 150px;
	font-family: "Monstserrat";
	font-size: 50px;
}



.service {
    height: 1285px;
 }
.container-service {
    width: 100%;
    height: 1045px;
}
.container-asides {
    width: 100%;
    height: 900px;
    display: block;
}
.service__h2{
	font-size: 35px;
}
.service__h4{
	font-size: 14px;
}
.service__aside-1,
.service__aside-2,
.service__aside-3{
	width: 80%;
	height: 230px;
	margin:0 auto 70px;
}



.portfolio {
    height: 3030px;
}
.container-portfolio {
    width: 100%;
    height: 2790px;
}
.portfolio__h2{
	font-size: 35px;
}
.portfolio__h4{
	font-size: 14px;
}
.container__works {
    height: 2640px;
    display: block;
}
.works {
    margin:0 auto 50px;
}


.about-us{
	height: 2545px;
	background: white;
	padding: 120px 0px;
}
.container-about-us {
    height: 2305px;
    width: 100%;
    margin: 0 auto;
    text-align: center;
}
.about__h2 {
    font-size: 35px;
}
.about__h4 {
    font-size: 14px;
}
.container-history {
    height: 2140px;
}
.events{
	width: 100%;
	height: 380px;
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 190px 190px;
	margin-bottom: 90px;
	text-align: center;
}
.events:nth-child(even){
	grid-template-columns:1fr;
	grid-template-rows: 190px 190px;
	margin-left: 0%;
}
.events::after{
	content:"";
	width: 0;
	height: 0px;
	margin-left: 0%;
}
.events:nth-child(even)::after{
	grid-column: 1/2;
	margin-left: 50%;
}
.events_title{
	width: 85%;
	margin: 0 auto;
	padding-right: 0px;
	grid-column: 1/3;
	grid-row:2/3;
}
.events_title:nth-child(even){
	text-align: center;
	padding-left: 0px;
}
.event__fotos{
	margin: auto auto;
}
.container-story-continues{
	display: block;
	width: 100%;
	height: 170px;
}
.story-continues {
   margin: 0 auto;
}



.our-team {
    height: 1785px;
}
.container-team {
    height: 1545px;
    width: 100%;
}
.our-team__h2 {
    font-size: 35px;
}
.our-team__h4 {
    font-size: 14px;
}
.container-people {
    height: 1260px;
    width: 100%;
    display: block;
}
.team__human {
    margin: 0 auto;
    margin-bottom: 80px;
}
.our-team__text {
    width: 90%;  
}



.logos {
    height: 450px;
}
.container-logos {
    width: 100%;
    height: 330px;
    margin: 0 auto;
    display: block;
}


.contacts {
    height: 760px;
}
.container-contacts {
    width: 100%;
    height: 670px;
}
.contacts__h2 {
    font-size: 35px;
    margin-top: 0;
}
.contacts__h4 {
    font-size: 14px;
}
form {
    grid-template-columns: 1fr;
    grid-template-rows: 50px 50px 50px 1fr 65px;
    grid-column-gap: 0px;
}
form input{
	height: 50px;
	width: 90%;
	margin: 0 auto;
}
.email-inpt{
	grid-row: 2/3;
	grid-column: 1/2;
}
.message-inpt {
    height: 200px;
    width: 90%;
    grid-row: 4/5;
    grid-column: 1/2;
    margin: 0 auto;
}
.contacts__send {
    width: 240px;
    grid-row: 5/6;
    grid-column: 1/3;
}
.contacts__send a {
    font-size: 16px;
}



.footer {
    height: 150px;
}
.container-footer {
    width: 270px;
    height: 100px;
    display: grid;
    grid-template-columns: 270px;
    grid-template-rows: 40px 40px;
    grid-row-gap: 20px
}
.footer .container-social-icon {
	width: 190px;
    grid-column: 1/2;
    margin: 0 auto;
}
.footer span {
    width: 270px;
    grid-row: 2/3;
    }
}

@media screen and (min-width: 481px) and (max-width: 768px){
.menu {
    width: 545px;
}
.menu__items {
    list-style: none;
    display: inline-block;
    margin-right: 35px;
    letter-spacing: 0.5px;
}

.portfolio {
    height: 1640px;
}
.container-portfolio {
    width: 100%;
    height: 1400px;
}
.container__works {
    width: 615px;
    margin:0 auto;
    display: grid;
    grid-template-columns: repeat(2,290px);}
}
@media screen and (min-width: 1200px){
	.header{background: url(../images/Bg-Header-min.png) no-repeat 50% 0%;}

}
